html, body, header, footer, section, article, div,
strong, a, img, p, ol, h1, h2, h3, time, small,
form, label, input, textarea, button {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  font-family: sans-serif;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: #323232;
  background: transparent;
  font-family: sans-serif;
}

input:focus,
select:focus,
button:focus {
    outline: none;
}

#header {
  height: 40px;
  width: 275px;
  margin-bottom: 10px;
  background-image: url('https://res.cloudinary.com/cloudlicious/image/upload/v1480899840/binarypurple_paig4k.png');
  background-size: 275px 40px;
}

#address-list, #data-input {
  width: 275px;
  padding: 10px 0;
}

#address-list {
  background: #a976ea;
}

#data-input {
  background: #be98ef;
}

#address-list,
#add-address,
#warning,
#time-range,
#start {
  width: 275px;
  display: flex;
  justify-content: center;
}

#address-list, #data-input {
  margin: 0 0 10px 0;
}

#single-list {
  padding-left: 18px;
  width: 275px;
  display: flex;
  justify-content: center;
}

#inner-list {
  width: 225px;
  overflow-wrap: break-word;
}

#address-input {
  background: #ffffff;
  width: 150px;
  border: 1px solid #3A46b1;
  border-radius: 3px;
  margin: 0 5px;
  font-size: 14px;
  padding-left: 3px;
  color: #3A46b1;
}

#transfer-protocol {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-button {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time-range {
  margin-top: 5px;
}

#time-child {
  margin: 0 10px;
}

#add-button:hover,
#close-button:hover,
#logs-close-button {
  cursor: pointer;
}

#alarm-label:hover, #logs-toggle > div:hover {
  cursor: pointer;
  color: #3A46b1;
  transition: color 0.3s;
}

#start {
  width: 275px;
  padding: 10px 0;
}

#start-div {
  display: flex;
  justify-content: center;
}

#alarm-label {
  margin: 0 8px;
}

.loader {
  border: 3px solid #fafafa;
  border-top: 3px solid #009900;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  animation: spin 0.4s linear infinite;
  margin-left: 5px;
}

.loader2 {
  border: 3px solid #fafafa;
  border-top: 3px solid #ff0000;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  animation: spin 0.6s linear infinite;
  margin-left: 5px;
}

.purple-background {
  background: #d4baf5;
}

.red-background {
  background: #ff7f7f;
}

.green-background {
  background: #b2ffb2;
}

#logs-container {
  width: 275px;
  position: relative;
  margin-top: 10px;
}

#logs {
  width: 268px;
  max-height: 250px;
  overflow: scroll;
  border: 1px solid #3A46b1;
  margin: 1px;
  padding: 0 2px;
}

#logs > ol {
  font-size: 10px;
}

#logs-toggle {
  width: 275px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  background: #e9dcfa;
}

#logs-close-button {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}

@keyframes spin {
  0 { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
